@import "tailwindcss";

:root {
  --background: #E9E7DB;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #E9E7DB;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  /* Ajuste este valor para corresponder à altura do seu cabeçalho */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-image {
  background-image: url('https://agenciaaltitude.com/halflogo.png');
  background-size: 15%;
    /* Ajusta a imagem para cobrir toda a div */
    background-position: bottom right;
    /* Alinha a imagem no lado superior esquerdo */
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .bg-image {
    background-image: none;
  }
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top, #E9E7DB 12%, transparent 100%);
}
